<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans:import resource="classpath:servlet-context.xml"/>

    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
                destroy-method="close">
        <!--<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
        <!--<beans:property name="url"-->
                        <!--value="jdbc:mysql://127.0.0.1/spring-test"/>-->
        <beans:property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
        <beans:property name="url"
        value="jdbc:hsqldb:hsql://localhost/xdb"/>
        <beans:property name="username" value="sa"/>
        <beans:property name="password" value=""/>
    </beans:bean>
</beans:beans>
